.register{
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);

}
.register__container{
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 10px 10px 97px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 97px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 97px -18px rgba(0,0,0,0.75);
    color:white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 64px 40px;
    min-height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.register__container--form{
    display: flex;
    flex-direction: column;
}


.register__container a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;

}

.register__container a:hover{
    text-decoration: underline;

}

.input--register{
    color: white;
    margin-bottom: 20px; 
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Muli', sans-serif;
    outline:none;
    height: 50px;

}


