@import './media.scss';
@import './vars.scss';

*{
    margin:0px;
    padding:0px;
}
body{
    background: $main-color;
    font-family: $theme-font;
    margin:0px;
    padding: 0px;
    height: 100vh;
}
.App{
    background: $main-color;  
}